---
version: '3'

services:
  kafka-connect:
    image: entechlog/cp-kafka-connect:${CONFLUENT_VERSION_TAG}
    container_name: kafka-connect
    build:
      context: ./docker/standalone/
      args:
        CONNECTOR_OWNER: ${CONNECTOR_OWNER}
        CONNECTOR_NAME: ${CONNECTOR_NAME}
        CONNECTOR_VERSION: ${CONNECTOR_VERSION}
    ports:
      - 8083:8083
    environment:
      CUB_CLASSPATH: '/etc/confluent/docker/docker-utils.jar:/usr/share/java/confluent-security/connect/*:/usr/share/java/kafka/*'
      CONNECT_CUB_KAFKA_TIMEOUT: 300
      CONNECT_BOOTSTRAP_SERVERS: ${KAFKA_BOOTSTRAP_SERVERS}
      CONNECT_REST_ADVERTISED_HOST_NAME: 'kafka-connect'
      CONNECT_REST_PORT: 8083
      CONNECT_GROUP_ID: kafka-connect-group
      CONNECT_CONFIG_STORAGE_TOPIC: _kafka-connect-group-configs
      CONNECT_OFFSET_STORAGE_TOPIC: _kafka-connect-group-offsets
      CONNECT_STATUS_STORAGE_TOPIC: _kafka-connect-group-status
      CONNECT_KEY_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      CONNECT_VALUE_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      CONNECT_KEY_CONVERTER_SCHEMAS_ENABLE: 'false'
      CONNECT_VALUE_CONVERTER_SCHEMAS_ENABLE: 'false'
      CONNECT_INTERNAL_KEY_CONVERTER: 'org.apache.kafka.connect.json.JsonConverter'
      CONNECT_INTERNAL_VALUE_CONVERTER: 'org.apache.kafka.connect.json.JsonConverter'
      CONNECT_LOG4J_ROOT_LOGLEVEL: 'INFO'
      CONNECT_LOG4J_LOGGERS: 'org.apache.kafka.connect.runtime.rest=WARN,org.reflections=ERROR'
      CONNECT_LOG4J_APPENDER_STDOUT_LAYOUT_CONVERSIONPATTERN: "[%d] %p %X{connector.context}%m (%c:%L)%n"
      CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: '2'
      CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: '2'
      CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: '2'
      CONNECT_PLUGIN_PATH: '/usr/share/java,/usr/share/confluent-hub-components/,/data/connect-jars'
      # External secrets config
      # See https://docs.confluent.io/current/connect/security.html#externalizing-secrets
      CONNECT_CONFIG_PROVIDERS: 'file'
      CONNECT_CONFIG_PROVIDERS_FILE_CLASS: 'org.apache.kafka.common.config.provider.FileConfigProvider'

      # Class path to add custom authentication
      CLASSPATH: '/etc/kafka/secrets/${CLIENT_JAR}:/etc/kafka/secrets/${COMMON_JAR}'
      # Connect Worker
      CONNECT_SECURITY_PROTOCOL: SASL_SSL
      CONNECT_SSL_TRUSTSTORE_LOCATION: /etc/kafka/secrets/kafka.connect.truststore.jks
      # RBAC
      CONNECT_SASL_MECHANISM: 'OAUTHBEARER'
      CONNECT_SASL_LOGIN_CALLBACK_HANDLER_CLASS: ${SASL_LOGIN_CALLBACK_HANDLER_CLASS}
      CONNECT_SASL_JAAS_CONFIG: |
              org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required \
              username="${KAFKA_USER}" \
              password="${KAFKA_PASSWORD}";

      # Connect Producer
      CONNECT_PRODUCER_SECURITY_PROTOCOL: SASL_SSL
      CONNECT_PRODUCER_SSL_TRUSTSTORE_LOCATION: /etc/kafka/secrets/kafka.connect.truststore.jks
      # Producer
      CONNECT_PRODUCER_SASL_MECHANISM: 'OAUTHBEARER'
      CONNECT_PRODUCER_SASL_LOGIN_CALLBACK_HANDLER_CLASS: ${SASL_LOGIN_CALLBACK_HANDLER_CLASS}
      CONNECT_PRODUCER_CONFLUENT_MONITORING_INTERCEPTOR_SASL_MECHANISM: 'OAUTHBEARER'
      CONNECT_PRODUCER_CONFLUENT_MONITORING_INTERCEPTOR_SASL_LOGIN_CALLBACK_HANDLER_CLASS: ${SASL_LOGIN_CALLBACK_HANDLER_CLASS}
      CONNECT_PRODUCER_CONFLUENT_MONITORING_INTERCEPTOR_SASL_JAAS_CONFIG: |
              org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required \
              username="${KAFKA_USER}" \
              password="${KAFKA_PASSWORD}";

      # Connect Consumer
      CONNECT_CONSUMER_SECURITY_PROTOCOL: SASL_SSL
      CONNECT_CONSUMER_SSL_TRUSTSTORE_LOCATION: /etc/kafka/secrets/kafka.connect.truststore.jks
      # Consumer
      CONNECT_CONSUMER_SASL_MECHANISM: 'OAUTHBEARER'
      CONNECT_CONSUMER_SASL_LOGIN_CALLBACK_HANDLER_CLASS: ${SASL_LOGIN_CALLBACK_HANDLER_CLASS}
      CONNECT_CONSUMER_CONFLUENT_MONITORING_INTERCEPTOR_SASL_MECHANISM: 'OAUTHBEARER'
      CONNECT_CONSUMER_CONFLUENT_MONITORING_INTERCEPTOR_SASL_LOGIN_CALLBACK_HANDLER_CLASS: ${SASL_LOGIN_CALLBACK_HANDLER_CLASS}
      CONNECT_CONSUMER_CONFLUENT_MONITORING_INTERCEPTOR_SASL_JAAS_CONFIG: |
              org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required \
              username="${KAFKA_USER}" \
              password="${KAFKA_PASSWORD}";

      # Reduce Connect memory utilization
      KAFKA_JVM_PERFORMANCE_OPTS: -server -XX:+UseG1GC -XX:GCTimeRatio=1
                  -XX:MinHeapFreeRatio=10 -XX:MaxHeapFreeRatio=20
                  -XX:MaxGCPauseMillis=10000 -XX:InitiatingHeapOccupancyPercent=35 -XX:+ExplicitGCInvokesConcurrent
                  -XX:MaxInlineLevel=15 -Djava.awt.headless=true

      # CONNECTOR_ properties are for the connector itself, example shown below
      CONNECTOR_NAME: elasticsearch-sink-connector
      CONNECTOR_CONNECTOR_CLASS: io.confluent.connect.elasticsearch.ElasticsearchSinkConnector
      CONNECTOR_TYPE_NAME: _doc
      CONNECTOR_TOPICS: test01
      CONNECTOR_KEY_IGNORE: "true"
      CONNECTOR_SCHEMA_IGNORE: "false"
      CONNECTOR_CONNECTION_URL: http://elasticsearch:9200
      CONNECT_OFFSET_STORAGE_FILE_FILENAME: /tmp/connect.offsets

    volumes:
      - ./kafka-connect/secrets/connect-secrets.properties:/opt/confluent/secrets/connect-secrets.properties
      - ./kafka-connect/secrets/:/etc/kafka/secrets/
      - ./kafka-connect/scripts/create-bigquery-sink.sh:/kafka-connect/scripts/create-bigquery-sink.sh
    user: "1000:1000"
    # command: 
    #   # In the command section, $ are replaced with $$ to avoid the error 'Invalid interpolation format for "command" option'
    #   - bash 
    #   - -c 
    #   - |
    #     echo "===> Installing connector plugins"
    #     confluent-hub install --no-prompt wepay/kafka-connect-bigquery:${KAFKA_BIGQUERY_CONNECT_VERSION}
    #     #
    #     echo "===> Launching Kafka Connect worker"
    #     /etc/confluent/docker/run & 
    #     echo "===> Waiting for Kafka Connect to start listening on kafka-connect â³"
    #     while [ $$(curl -s -o /dev/null -w %{http_code} http://kafka-connect:8083/connectors) -eq 000 ] ; do
    #       echo -e $$(date) " Kafka Connect listener HTTP state: " $$(curl -s -o /dev/null -w %{http_code} http://kafka-connect:8083/connectors) " (waiting for 200)"
    #       sleep 5
    #     done
    #     nc -vz kafka-connect 8083
    #     sleep 5
    #     echo -e "\n ===> Creating Kafka Connector To Sink Data from Kafka to Bigquery"
    #     #/kafka-connect/scripts/create-bigquery-sink.sh
    #     sleep infinity