*.pem
*.pub
*connect-secrets.properties
*my_password.txt
logs
__pycache__
/**/docker/**/.env
# Kafka to Snowpipe Demo
/kafka-s3-snowpipe/.env
# XML Demo
/kafka-to-snowflake-xml/without-kafka/.env
/kafka-to-snowflake-xml/with-kafka/.env
# S3 Demo
/kafka-s3/.env
# DataDog Demo
/kafka-to-apms/.env
# Superset Demo
/kafka-postgres-superset/.env
*.jks
.env
*snapshot.jar
*.key
*.jaas

