vpc_id                    = "your-vpc-for-msk"
vpc_subnets               = ["your-subnets-for-msk"]
mongodbdb_uri             = "your-private-link-mongodb-uri"
mongodb_username          = ""
mongodbdb_password        = ""
mongodb_vpce_service_name = ""