{
	"name": "sink-gcs-users",
	"config": {
		"connector.class": "io.aiven.kafka.connect.gcs.GcsSinkConnector",
		"tasks.max": "1",
		"topics": "users",
		"gcs.bucket.name": "entech-demo-bucket-01",
		"gcs.credentials.path": "/opt/confluent/secrets/connect-secrets.json",
		"format.output.type": "jsonl",
		"format.output.envelope": false,
		"format.output.fields": "value",
		"_format.output.fields": "key,value,offset,timestamp,headers",
		"file.name.prefix": "raw/",
		"file.compression.type": "gzip",
		"file.name.timestamp.timezone": "UTC",
		"file.name.timestamp.source": "wallclock",
		"file.name.template": "y={{timestamp:unit=yyyy}}/m={{timestamp:unit=MM}}/d={{timestamp:unit=dd}}/H={{timestamp:unit=HH}}/{{topic}}-{{partition:padding=true}}-{{start_offset:padding=true}}.gz",
		"key.converter": "org.apache.kafka.connect.storage.StringConverter",
		"_key.converter": "org.apache.kafka.connect.converters.ByteArrayConverter",
		"key.converter.schemas.enable": false,
		"value.converter": "org.apache.kafka.connect.json.JsonConverter",
		"_value.converter": "org.apache.kafka.connect.converters.ByteArrayConverter",
		"__value.converter": "org.apache.kafka.connect.storage.StringConverter",
		"value.converter.schemas.enable": false,
		"errors.tolerance": "all",
		"errors.deadletterqueue.topic.name": "connect.sink.dlt.gcs.users",
		"errors.log.include.messages": true,
		"errors.deadletterqueue.context.headers.enable": true,
		"errors.deadletterqueue.topic.replication.factor": 1
	}
}