twitter-api-key=<your-twitter-api-key>
twitter-api-secret-key=<your-twitter-api-secret-key>
twitter-access-token=<your-twitter-access-token>
twitter-access-token-secret=<your-twitter-access-token-secret>
SNOWFLAKE_HOST=<your-snowflake-host-name>:443
SNOWFLAKE_USER=kafka
SNOWFLAKE_PRIVATE_KEY=<your-snowflake-private-key>
