{
	"name": "postgres-sink-users-gender",
	"config": {
		"value.converter.schema.registry.url": "http://schema-registry:8081",
		"connector.class": "io.confluent.connect.jdbc.JdbcSinkConnector",
		"key.converter": "org.apache.kafka.connect.storage.StringConverter",
		"value.converter": "io.confluent.connect.avro.AvroConverter",
		"value.converter.schemas.enable": "false",
		"topics": "TBL_USER_0020_GENDER_COUNT",
		"connection.url": "jdbc:postgresql://postgres:5432/",
		"connection.user": "postgres",
		"connection.password": "postgres",
		"insert.mode": "upsert",
		"delete.enabled": true,
		"table.name.format": "demo.users_gender_count",
		"pk.mode": "record_key",
		"pk.fields": "gender_key",
		"auto.create": "true"
	}
}