{
	"name": "postgres-sink-users",
	"config": {
		"value.converter.schema.registry.url": "http://schema-registry:8081",
		"connector.class": "io.confluent.connect.jdbc.JdbcSinkConnector",
		"key.converter": "org.apache.kafka.connect.storage.StringConverter",
		"value.converter": "io.confluent.connect.avro.AvroConverter",
		"value.converter.schemas.enable": "false",
		"topics": "users",
		"connection.url": "jdbc:postgresql://postgres:5432/",
		"connection.user": "postgres",
		"connection.password": "postgres",
		"insert.mode": "upsert",
		"delete.enabled": false,
		"table.name.format": "demo.users",
		"pk.mode": "record_value",
		"pk.fields": "userid,registertime",
		"auto.create": "true"
	}
}